*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding: 20px;
    background-color:burlywood;
    margin: 0;
}
header{
    background-color: #f60;
    color: navy;
    padding: 10px 20px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 900;
    text-align: center;
}
#stories{
    margin-top: 20px;
    margin-left:20px;
}
.story{
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#navigation{
    padding: 10px;
    margin-left: 20px;
}
li:hover{
    background-color: antiquewhite;
}
li{
    border:6px whitesmoke inset;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: rgb(185, 179, 179);
}

.invisible{
    position: absolute;
    left: -999px
}

@media (max-width: 600px){
    /*Mobile responsive adjusments*/
}